body {
            background-image: url('https://images.wallpaperscraft.com/image/single/stars_star_glitter_129201_3840x2160.jpg'); 
            background-repeat: no-repeat; 
            background-size: cover; 
            background-position: center; 
            background-attachment: fixed; 
            background-color: black; 
            font-family: "Titillium Web", sans-serif;
}
header {
color: white;
font-family: "Titillium Web", sans-serif;
}
.Organism {
  position: absolute; 
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid #3498db;
}
#test1 {
  position: absolute;
  top: 500px;         
  left: 120px;
  right: 120px;
  padding: 50%;
  margin: 10%;
}
#test1 {
  position: absolute;
  top: 200px;         
  left: 100px;
  right: 20px;
  padding: 50%;
  margin: 10%;
}