body {
  background-image: url('https://images.wallpaperscraft.com/image/single/stars_star_glitter_129201_3840x2160.jpg'); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: black;
  font-family: "Titillium Web", sans-serif;
} 
header {
  color: white;
  text-align: center;
}
.Organism {
  position: absolute;
  border-radius: 50%;
  background-color: transparent;
  border: 5px solid rgb(255, 255, 255);
  width: 50px;
  height: 50px;
}

