body {
            background-image: url('https://images.wallpaperscraft.com/image/single/stars_star_glitter_129201_3840x2160.jpg'); 
            background-repeat: no-repeat; 
            background-size: cover; 
            background-position: center; 
            background-attachment: fixed; 
            background-color: black; 
        }